.nav-items li a {
    color: #1a202c;
    font-weight: 600;
    text-decoration: none;
    padding: 0.5rem 1rem;
}
.navbar {
    background-color: #e2e8f0;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .nav-items:hover li a {
    display: flex;
    gap: 1rem;
    color: #2d3748;
}